/* sapUiTableRowHidden 클래스가 없는 행에만 스타일 적용 */
.custom-selection-uiTable .sapUiTableRow:not(.sapUiTableRowHidden) .sapUiTableRowSelectionCell::before {
    font-family: SAP-icons;
    content: "\e19a" !important;
    font-size: 12px;
    text-align: center;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    height: 100%;
    width: 2rem !important;
    opacity: 0.4;
}

/* sapUiTableRowHidden 클래스가 없는 행에만 스타일 적용 (선택된 행) */
.custom-selection-uiTable .sapUiTableRowSel:not(.sapUiTableRowHidden)>.sapUiTableRowSelectionCell::before {
    font-family: SAP-icons;
    content: "\e03f" !important;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    height: 100%;
    width: 2rem !important;
    opacity: 1;
}
