/* Enter your custom styles here */

.portalTitle {
    font-weight: bold;
    color: rgb(4, 36, 51) !important;
} 

/* .treeTableBackgroud {
    background-color: #ffffff !important;
} */

.sapMObjectIdentifierTitle .sapMLnk .sapMLnkText, .sapMObjectIdentifierTitle .sapMText {
    color: #282a2c !important;
    font-size: 0.85rem !important;
}

.sapTntSideNavigation {
    min-width: 3rem !important;
}

.sapFSP.sapFSPActionBarExpanded:not(.sapFSPSideContentExpanded) .sapFSPSide {
    width: 12rem !important;
}

/* .sapFSP .sapFSPSide .sapFSPActionBarList {
    gap: 1.5rem !important;
} */

.menuText {
    text-decoration: none !important;
}

.sapUiLoSplitter.sapUiLoSplitterH>.sapUiLoSplitterBar, .sapUiLoSplitter.sapUiLoSplitterH>.sapUiLoSplitterOverlay .sapUiLoSplitterOverlayBar{
    width: 0.5rem !important;
}
.sapUiLoSplitter.sapUiLoSplitterH>.sapUiLoSplitterBar.sapUiLoSplitterNoResize, .sapUiLoSplitter.sapUiLoSplitterH>.sapUiLoSplitterOverlay .sapUiLoSplitterOverlayBar{
    width: 0rem !important;
}

.sapUiLoSplitterBar.sapUiLoSplitterNoResize {
    height: 0rem !important;
    width: 0rem !important;
}

/* .sapUiLoSplitter.sapUiLoSplitterV>.sapUiLoSplitterBar, .sapUiLoSplitter.sapUiLoSplitterV>.sapUiLoSplitterOverlay .sapUiLoSplitterOverlayBar{
    height: 0rem !important;
} */

.sapMText.sapTntNLIText.sapMTextNoWrap{
    font-size: small !important;
}

/* .sapTntNL:not(.sapTntNLNoIcons):not(.sapTntNLCollapsed) span.sapTntNLIIcon{
    margin-left: 0rem !important;
} */

.sapTntNL.sapTntNLNoIcons:not(.sapTntNLPopup) .sapTntNLIFirstLevel{
    padding-left: 0rem !important;
}


/**
*   사이드 메뉴상세 모서리 라운딩
**/
.sapMNav.sapMSplitContainerMaster.sapMSplitContainerMasterVisible{
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

.hit {
    font-weight: bold !important;
}
/* 실적PL 대부 그리드컨테이너에 카드 배치할때 가운데정렬 용
.sapFGridContainerListUl { 
    justify-content: center !important;
} */

/* ************** */
.botBtn {
    position: fixed;
    bottom: 4rem;
    right: 3rem; 
}